{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
    <h1>Create your event !</h1>
    <div class="container1">
        <div class="bg">
            <div class="form">
                {{ form(form) }}

                {% if event.organizer is defined %}
                    Event organizer: {{ event.organizer.name }}
                {% else %}
                    Event organizer not yet loaded.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
