{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
<div class="container1">
    <div class="bg">
        <div class="form">
    {{ form_errors(registrationForm) }}

    {{ form(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
