{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1 class="title">Liste des utilisateurs</h1>
    <a href="{{ path('app_admin_create') }}" class="btn btn-dark">Create user</a>
    <ul class="list-group">
        {% for user in users %}
            <li class="list-group-item"><a href="{{ path('app_profile', {'id': user.id}) }}">{{ user.name + ' ' + user.firstname }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}

