{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <a href="{{ path('app_admin_create') }}" class="btn btn-dark">Create user</a>

    <ul>
        {% for user in users %}
            <li>{{ user.name }}</li>
            <a href="{{ path('app_detail', {'id': user.id}) }}">Liste des utilisateurs</a>
        {% endfor %}

    </ul>

{% endblock %}

