.container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1.5fr 0.1fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "menu1 . menu2"
    "list list list"
    "list list list";
}

.menu1 { grid-area: menu1; }
.menu2 { grid-area: menu2; }
.list {
    background-color: #8bb9fe;
    border-radius: 10px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 0.1fr 2.8fr 0.1fr;
    grid-template-rows: 0.2fr 2.7fr 0.1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . ."
    ". elementsList ."
    ". . .";
    grid-area: list;
}
.elementsList { grid-area: elementsList; }
.form-control{
    margin-top: 10px;
}

.btn{
    margin-top: 10px;
}
h1{
    text-align: center;
}

.container1 {
    display: grid;
    grid-template-columns: 0.4fr 2.2fr 0.4fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . ."
    ". bg ."
    ". . .";
}
.bg {
    border-radius: 15px;
    background-color: #8bb9fe;
    display: grid;
    grid-template-columns: 0.2fr 2.6fr 0.2fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . ."
    ". form ."
    ". . .";
    grid-area: bg;
}
.form { grid-area: form;

}

/*@media only screen and (max-width: 1000px) {*/
/*    .mobile-invisible *{*/
/*        display: none;*/
/*    }*/
/*}*/