
.containt {
    display: grid;
    grid-template-columns: 0.2fr 2.6fr 0.2fr;
    grid-template-rows: 0.2fr 2.7fr 0.1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . ."
    ". tab ."
    ". . .";
    grid-area: containt;
}
.tab { grid-area: tab; }

.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control{
    margin-top: 10px;
}

.btn{
    margin-top: 10px;
}
h1{
    text-align: center;
}
.title{
    color: white;
}
.container1 {
    display: grid;
    grid-template-columns: 0.4fr 2.2fr 0.4fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . ."
    ". bg ."
    ". . .";
}
.bg {
    border-radius: 15px;
    border: white 2px solid;
    display: grid;
    grid-template-columns: 0.2fr 2.6fr 0.2fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . ."
    ". form ."
    ". . .";
    grid-area: bg;
}
.form {
    grid-area: form;
    color: white;
}

.logo{
    width: 50px;
}
body {
    background-image: url("../img/bg.png");
}
label{
    color: white;
}

.cont{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    color: white;
}

.fieldset{
    padding: 10px;
    margin-bottom: 20px;
    border: white 2px solid;
    border-radius: 10px;
}

.listuser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

img{
border: white 2px solid;
    border-radius: 20px;
 }

.profil{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}