{% extends 'base.html.twig' %}
{% block title %}Liste des utilisateurs{% endblock %}
{% block body %}
    <h1 class="title">Liste des utilisateurs</h1>
    <div class="listuser">
    <ul class="list-group">
        {% for user in users %}
            <li class="list-group-item"><a href="{{ path('app_detail', {'id': user.id}) }}">{{ user.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_admin_create') }}" class="btn btn-dark">Create user</a></div>{% endblock %}